header{
	background: #DDDDDD;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	display: inline;
	text-transform: uppercase;
	margin-left: 16px;
}