header{
	background: #DDDDDD;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	font-weight: bold;
	font-size: 24px;
	display: inline;
	margin-left: 16px;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

nav a:hover{
	text-decoration: underline;
	color: #CCAD3E;
}

/* ----------------------------------------> CSS MAIN*/
main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px;
}

.produtos {
	position: relative;
	width: 940px;
	margin: 0 auto;	
	padding: 50px 20px;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin-left: 3%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
	border-bottom: 6px solid #000000;
	border-right: 6px solid #000000;
	border-color: #CCAD3E;
}

.produtos li:hover h2{
	font-size: 35px;
}

.produtos li:active{
	border: 2px solid #CCAD3E;
}

.produtos h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-left: 1.5%;
}

.descricao-produto{
	font-size: 18px;
}

.preco-produto{
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
}

footer{
	position: relative;
	background: url("../img/bg.jpg");
	text-align: center;
	padding: 40px 20px;
	bottom: 0;
	width: 100%;	
}


.copyright{
	color: #FFFFFF;
	font-size: 22px;
	margin: 30px 0 ;
}


main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin-top: 40px;
	margin-bottom: 40px;
}

form label, form p{
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: bold;
}

.input-principal{
	display: block;
	margin-bottom: 12px;
	padding: 10px;
	width: 50%;
}

.checkbox{
	margin-bottom: 15px;
	margin-top: 15px;
}

.selecao{
	margin-bottom: 15px;
	margin-top: 15px;
}

